@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.resetButton {
	width: 250px;
	height: 45px;
	margin-top: 300px;
	font-family: 'Asap', sans-serif;
	font-size: 24px;
}

.resetButton:hover {
	color: orangered;
}

.reset-but {
	text-align: center;
}

.boxButton {
    width: 100px;
    height: 100px;
    margin: 2px 0px;
	border: black 3px solid;
	font-family: 'Asap', sans-serif;
	font-size: 80px;
}

.boxButton:hover {
    border-color: steelblue;
}

.board-box {
	text-align: center;
}

body {
	background-color: #292c34;
}

header {
	background: white;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: 'Asap', sans-serif;
}

.score-board {
	margin: 20px auto;
	border: 5px solid white;
	border-radius: 4px;
	width: 300px;
	color: white;
	text-align: center;
	font-size: 50px;
	padding: 25px 20px;
	font-family: 'Asap', sans-serif;
	position: relative;
}

#user-label {
	position: absolute;
	top: -10px;
	left: 60px;
	font-size: 10px;
}

#computer-label {
	position: absolute;
	top: -10px;
	right: 60px;
	font-size: 10px;
}

#draw-label {
	position: absolute;
	top: -10px;
	right: 122.5px;
	font-size: 10px;
}

.badge {
	background: #E25840;
	color: white;
	font-size: 14px;
	padding: 2px 10px;
	font-family: 'Asap', sans-serif;
}

.greenglow {
	border: 5px  solid #4dcc7d;
	box-shadow: 0 0 40px #31b43a;
}

.redglow {
	border: 5px  solid #fc121b;
	box-shadow: 0 0 40px #d01115;
}

.grayglow {
	border: 5px  solid #464647;
	box-shadow: 0 0 40px rgb(255, 255, 255);
}